body {
    font-size: 10px;
}
#header {
    width: 960px;
    padding: 0 calc(50% - 480px);
    background-color: darkslategray;
}
#banner {
    width: 960px;
    padding: 0 calc(50% - 480px);
    background-color: yellowgreen;
}
#header div,
#banner div {
    overflow: hidden;
}
#header p {
    float: left;
    margin-left: 10px;
    font-weight: 700;
    font-size: 1.8em;
    color: #ffffff;
}
#header a {
    float: right;
    margin-left: 10px;
    color: #ffffff;
}
#banner a {
    float: right;
    width: 15px;
    height: 25px;
    border: solid 1px grey;
    box-sizing: border-box;
    margin-top: 165px;
    margin-left: 5px;
    text-align: center;
    line-height: 25px;
    color: grey;
    background-color: lightgrey;
}
#banner a:hover {
    margin-top: 155px;
    height: 35px;
    line-height: 45px;
    background-color: whitesmoke;
}
#bar {
    position: relative;
    border-bottom: solid 1px lightgrey;
    width: 960px;
    padding: 0 calc(50% - 480px);
    height: 70px;
}
#bar a {
    float: left;
    margin-top: 19px;
    width: 120px;
    height: 50px;
    border: solid 1px lightgrey;
    border-radius: 20px 20px 0 0;
    font-size: 1.5em;
    text-align: center;
    line-height: 50px;
    background-color: lightgrey;
}
#bar a:hover {
    border-bottom-color: #ffffff;
    background-color: transparent;
}
#content {
    width: 960px;
    margin: 0 auto;
}
#content1,
#content2,
#content3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#content p {
    flex: 1 1 auto;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 0;
    margin-top: 10px;
    border: solid 1px lightgrey;
    text-align: center;
}
.set-margin {
    margin-right: 10px
}
#footer {
    height: 100px;
    width: 960px;
    padding: 0 calc(50% - 480px);
    margin-top: 10px;
    background-color: darkgray;
}
#footer p {
    margin:0 auto;
    padding-top: 10px;
    text-align: center;
    color: #ffffff;
}